
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(234, 241, 241);
}

@media (max-width: 768px){

    nav{
        background-color: #b2ccec;
    }
    
    .container-fluid .navbar-brand{
        font-size: 40px;
        font-weight: bold;
    }
    
    #navbarSupportedContent{
        background-color: #c2d1e4;
    }
    
    ul .dropdown-menu{
        background-color: #c2d1e4;
    }
    
    .navbar-brand img{
        width: 60px;
        margin-left: 130px;
        border-radius: 50%;
        background-color: rgb(234, 241, 241);
    }
    
    main{
        display: flex;
        flex-direction: column;
        background-color: rgb(234, 241, 241);
        font-size: 14px;
    }
    
    .title{
        margin-top: 20px;
        text-align: center;
        font-size: 26px;
    }
    
    .portada{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .foto-principal{
        width: 85%;
        margin: 5px auto;
    }

    .img-pie{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .pie-img{
        padding: 5px;
        font-size: 8px;
        margin: 0 5px;
    }

    .familia{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3px;
    }
    
    .container-biografia{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .sub-title1{
        padding: 5px;
        margin-left: 30px;
    }

    .container-biografia p{
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
    }

    .foto-flia{
        font-size: 10px;
        margin: 0 7px;
    }

    .biografia{
        margin-left: 10px;
        font-size: 12px;

    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5px;
        background-color: #b2ccec;
    }

    .container-pie{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .pie{
        width: 10%;
        border-radius: 50%;
    }

    .container-pie p{
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
    }

    .copy{
        font-size: 12px;
    }

    /*psicogenetica*/

    .parrafos{
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
    }

    .foto1, .foto2, .foto3{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3px;
    }

    .foto4{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 3px;
    }

    /*psicogenesis*/
    .imagen1{
        display: flex;
        flex-direction: column;
    }

    .imagen1 img{
        justify-content: center;
    }

    .imagen1 p{
        text-align: center;
        font-size: 11px;
    }

    /*Desarrollo 4 etapas*/

    .container-etapas{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5px;
        margin-bottom: 5px;
    }

    .container-etapas img{
        width: 70%;
        height: 150px;
        margin-top: 10px;
        border-radius: 3px;
        object-fit: cover;
        
    }

    .container-etapas p{
        font-size: 15px;
        text-align: center;
        
    }

    .card .leyenda{
        text-decoration: none;
        color: black;
    }

    .container-etapas .card{
        width: 70%;
        margin-left: 70px;
        border: 2px solid rgb(180, 180, 221);
        box-shadow: 0 4px 8px rgba(180, 180, 221);
        background-color: #ebf8fa;
        text-align: center;
    }  
    
    /*sensorio*/
    .letra{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }

    .inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }


}

/*Estilos para pantallas medianas y grandes */

@media (min-width: 769px) {
    main{
        background-color: rgb(234, 241, 241);
    }

    nav{
        background-color: #b2ccec;
    }

    .navbar-brand img{
        width: 70px;
        margin-left: 130px;
        border-radius: 50%;
    }

    #navbarSupportedContent{
        background-color: #c2d1e4;
    }

    .navbar-expand-lg .navbar-collapse a{
        margin-left: 40px;
        font-size: 15px;
    }

    .container-fluid .navbar-brand img{
        margin-left: 30px;
        margin-right: 30px;
    }

    .container-fluid .navbar-brand{
        font-size: 25px;
        font-weight: bold;
    }

    .container-fluid .navbar-brand:hover{
        color: #054daa;
    }

    .collapse .nav-item a:hover{
        color: #054daa;
        font-weight: bold;
    }

    ul .dropdown-menu{
        background-color: #c2d1e4;
    }

    .dropdown-menu .dropdown-item:hover{
        background-color: transparent;
    }

    .title{
        text-align: center;
    }

    .portada img{
        display: block;
        margin: 0 auto;
        margin-bottom: 2px;
    }

    .pie-img{
        text-align: center;
        font-size: 12px;
        
    }

    .sub-title1{
        margin-left: 30px;
    }

    .container-biografia{
        display: flex;
        flex-direction: column;
    }

    .container-biografia p{
        margin-left: 30px;
        margin-right: 30px;
        text-align:left;
    }

    .img-pie{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .familia{
        width: 50%;
        margin-bottom: 2px;
    }

    .foto-flia{
        font-size: 12px;
    }
    

    .biografia{
        font-size: 10px;
    }

    /*FOOTER*/
    footer{
        background-color: #b2ccec;
    }

    footer p{
        margin-top: 0;
    }

    .container-pie{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pie{
        width: 60px;
        border-radius: 50%;
        margin-top: 15px;
        margin-right: 20px;
    }

    .container-pie p{
        font-weight: bold;
        margin-left: 15px;
        margin-top: 15px;
        font-size: 25px;
        margin-bottom: 0;
    }

    .copy{
        display: flex;
        font-size: 15px;
        justify-content: center;
        margin-top: 1rem;
    }

    /*psicogenesis*/

    .imagen1 .genesis{
        width: 50%;
        margin: 0 auto;
    }

    /*psicogenetica*/

    .parrafos{
        margin-left: 30px;
        margin-right: 30px;
        text-align:left;
    }

    .foto1, .foto2, .foto3{
        width: 40%;
        margin: 0 auto;
    }

    .foto4{
        width: 30%;
        margin: 0 auto;
    }

    /*desarrollo*/
    .imagen1{
        display: flex;
        flex-direction: column;
    }

    .imagen1 p{
        text-align: center;
        font-size: 11px;
    }

    .container-etapas{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .container-etapas .card {
        border: 2px solid rgba(180, 180, 221);
        border-radius: 8px;
        overflow: hidden;
        width: 25%;
        box-shadow: 0 4px 8px rgba(180, 180, 221);
        background-color: #ebf8fa;
        text-align: center;
        margin-bottom: 5px;
    }
    .card img{
        width: 60%;
        height: 200px;
        object-fit: cover;
        margin-top: 8px;
        border-radius: 5px;
    }

    .card img:hover {
        transform: scale(1.5);
    }

    .card .leyenda{
        text-decoration: none;
        margin: 0 auto;
        color: black;
    }

    .card a:hover{
        color: #d749f3;
    }

    /*sensorio*/

    .letra{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 25px;
    }
}